/* overall */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;     
  font-family: Outfit, sans-serif;
}

/* main content area (card) */

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* card */

.card {
  background-color: white;
  border-radius: 19px;
  padding: 1.1rem;
  max-width: 265px;
  width: 90%;
  text-align: center;
  font-size: 15px;
}

.card-img {
  width: 100%;
  border-radius: 0.9rem;
  margin-bottom: 0.7rem;
}

.card-title, p {
  margin: 0.42rem;
}

.card-title, .bold {
  font-size: 1.25rem;
  font-weight: 700;
  color: black;
  margin-bottom: 0.85rem;
}

.anchor, .abbrevation{
  text-decoration: none;
}

.card-text {
  font-size: 0.9rem;
  color: hsl(216, 15%, 48%);
  margin-bottom: 0.9rem;
}

/* footer */

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  width: 100%;
  background-color: hsl(218, 44%, 22%);
  color: white;                /* optional – ensures text is readable */
  padding: 10px 0;             /* some breathing room */
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution .anchor:link {
    color: red;
}

/* responsive */

.attribution .anchor:visited {
  color: gray;
}

.anchor:visited {
  color: black;
}

.anchor:hover, .anchor:active, .anchor:focus {
  text-decoration: dashed;
}